.game {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.game h1 {margin-bottom: 0px;}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.board h2 {margin: 0 0 20px 0; font-weight: 300;}

.board_squares {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 230px;
  height: 230px;
}

.sqaure {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  font-size: 30px;
  font-weight: 300;
  background-color: #fff;
  border: 3px solid rgb(0, 0, 0);
}

.winner{
  background-color: rgb(218, 255, 237);
  border: 3px solid rgb(146, 192, 170);
}

.sqaure:hover {
  background-color:chartreuse;
  cursor: pointer;
}